@font-face {
  font-family: "Spac3 tech free promo";
  src: url("../fonts/Spac3 tech free promo.ttf"); }
@font-face {
  font-family: "krunch_italic";
  src: url("../fonts/krunch_italic.ttf"); }
@font-face {
  font-family: "Musieer";
  src: url("../fonts/Musieer.ttf"); }
@font-face {
  font-family: "Zilap Monograma DEMO";
  src: url("../fonts/Zilap Monograma DEMO.ttf"); }
* {
  margin: 0;
  padding: 0; }

body {
  display: block;
  background: black; }
  body header {
    width: 100%;
    height: 30%; }
    body header .header-logo-menu {
      display: flex; }
      body header .header-logo-menu .logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body header .header-logo-menu .logo .img-logo {
          width: 30%; }
        body header .header-logo-menu .logo .index-marca {
          font-family: "krunch_italic",sans-serif;
          font-size: 2.5em; }
          body header .header-logo-menu .logo .index-marca a {
            text-decoration: none;
            color: white; }
      body header .header-logo-menu .menu {
        width: 80%; }
        body header .header-logo-menu .menu .lista-menu {
          height: 100%; }
          body header .header-logo-menu .menu .lista-menu .lista-items {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center; }
            body header .header-logo-menu .menu .lista-menu .lista-items li {
              display: block;
              background: black;
              padding: 14px 20px;
              color: white;
              text-decoration: none; }
              body header .header-logo-menu .menu .lista-menu .lista-items li a {
                font-family: "Musieer", sans-serif;
                font-size: 1.2em;
                text-decoration: none;
                color: white; }
            body header .header-logo-menu .menu .lista-menu .lista-items li:hover {
              background-color: #ddd; }
              body header .header-logo-menu .menu .lista-menu .lista-items li:hover a {
                color: black; }
  body #section-index .baner-index {
    width: 1349px;
    overflow: hidden; }
    body #section-index .baner-index #sliderimgs {
      width: 8094px;
      overflow: hidden;
      animation: slide 20s infinite;
      -moz-animation: slide 20s infinite;
      -webkit-animation: slide 20s infinite;
      -o-animation: slide 20s infinite; }
      body #section-index .baner-index #sliderimgs .imgbanner {
        float: left; }
@keyframes slide {
  0% {
    margin-left: 0px; }
  13.1% {
    margin-left: 0px; }
  16.7% {
    margin-left: -1349px; }
  29.8% {
    margin-left: -1349px; }
  33.4% {
    margin-left: -2698px; }
  46.5% {
    margin-left: -2698px; }
  50.1% {
    margin-left: -4047px; }
  63.2% {
    margin-left: -4047px; }
  66.8% {
    margin-left: -5396px; }
  79.9% {
    margin-left: -5396px; }
  83.5% {
    margin-left: -6745px; }
  96.6% {
    margin-left: -6745px; }
  100% {
    margin-left: 0px; } }
  body #section-index #site-text {
    width: 1349px;
    height: 500px;
    position: absolute;
    top: 82px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body #section-index #site-text h1 {
      color: white;
      font-family: "krunch_italic",sans-serif;
      font-size: 5em;
      text-shadow: black 0.2em 0.2em 0.2em;
      -webkit-text-stroke: 5px rgba(0, 0, 0, 0.4); }
    body #section-index #site-text p {
      color: #fff;
      font-family: "Zilap Monograma DEMO",sans-serif;
      text-align: center;
      font-size: 2em;
      text-shadow: #000 0.2em 0.2em 0.2em; }
  body #section-index2 {
    width: 100%;
    margin-top: 60px; }
    body #section-index2 .articles-index {
      width: 100%; }
      body #section-index2 .articles-index .titulo-section {
        display: flex;
        align-items: center;
        justify-content: center; }
        body #section-index2 .articles-index .titulo-section h1 {
          font-family: "krunch_italic",sans-serif;
          font-size: 3em;
          color: white; }
      body #section-index2 .articles-index .nuevo-index {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center; }
        body #section-index2 .articles-index .nuevo-index .poster {
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          body #section-index2 .articles-index .nuevo-index .poster .poster-img-1 {
            background-image: url(../img/dj1.jpg);
            background-position: center;
            background-clip: content-box;
            border-radius: 15px;
            width: 400px;
            height: 300px; }
          body #section-index2 .articles-index .nuevo-index .poster .poster-img-2 {
            background-image: url(../img/dj2.jpg);
            background-position: center;
            background-clip: content-box;
            border-radius: 15px;
            width: 400px;
            height: 300px; }
          body #section-index2 .articles-index .nuevo-index .poster .poster-img-3 {
            background-image: url(../img/dj3.jpg);
            background-position: center;
            background-clip: content-box;
            border-radius: 15px;
            width: 400px;
            height: 300px; }
          body #section-index2 .articles-index .nuevo-index .poster .poster-titulo {
            padding-top: 15px;
            text-align: center;
            font-size: 1.5em;
            font-family: Musieer ,sans-serif; }
          body #section-index2 .articles-index .nuevo-index .poster .poster-texto {
            padding: 15px 50px 15px 50px;
            text-align: center;
            font-size: 1em;
            font-family: "Typo moiser techno",sans-serif; }
          body #section-index2 .articles-index .nuevo-index .poster .boton-video {
            background: black;
            width: 80px;
            height: 30px;
            color: white;
            font-family: "Typo moiser techno",sans-serif;
            font-size: 1em;
            border-radius: 25px; }
      body #section-index2 .articles-index .datos-contacto {
        width: 100%;
        display: flex;
        padding-top: 50px; }
        body #section-index2 .articles-index .datos-contacto .datos {
          padding: 50px;
          width: 80%;
          color: white;
          font-family: "Typo moiser techno",sans-serif; }
          body #section-index2 .articles-index .datos-contacto .datos h1 {
            font-size: 1.5em;
            font-family: "Typo moiser techno",sans-serif; }
          body #section-index2 .articles-index .datos-contacto .datos p {
            padding: 10px;
            font-family: Musieer,sans-serif;
            font-size: 0.8em; }
            body #section-index2 .articles-index .datos-contacto .datos p img {
              color: white; }
          body #section-index2 .articles-index .datos-contacto .datos .yt-suscribirse {
            padding: 10px;
            position: absolute;
            left: 150px; }
        body #section-index2 .articles-index .datos-contacto .soundcloud {
          width: 80%;
          color: white;
          padding: 40px; }
          body #section-index2 .articles-index .datos-contacto .soundcloud h1 {
            font-size: 1.5em;
            font-family: "Typo moiser techno",sans-serif; }
        body #section-index2 .articles-index .datos-contacto .youtube {
          width: 80%;
          color: white;
          padding: 40px; }
          body #section-index2 .articles-index .datos-contacto .youtube h1 {
            font-size: 1.5em;
            font-family: "Typo moiser techno",sans-serif; }
  body #seccion {
    width: 100%;
    height: 100%; }
    body #seccion .baner img {
      width: 100%; }
    body #seccion .baner .baner-text {
      width: 1349px;
      height: 500px;
      position: absolute;
      top: 82px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body #seccion .baner .baner-text h1 {
        color: white;
        font-family: "krunch_italic",sans-serif;
        font-size: 5em;
        text-shadow: black 0.2em 0.2em 0.2em;
        -webkit-text-stroke: 5px rgba(0, 0, 0, 0.4); }
    body #seccion .titulo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px; }
      body #seccion .titulo h1 {
        color: white;
        font-family: "krunch_italic",sans-serif;
        font-size: 3em;
        text-shadow: black 0.2em 0.2em 0.2em;
        -webkit-text-stroke: 5px rgba(0, 0, 0, 0.4); }
    body #seccion .musica-nueva {
      display: flex;
      flex-direction: column;
      padding: 30px;
      justify-content: center;
      align-items: center; }
      body #seccion .musica-nueva .row {
        display: flex;
        flex-direction: row; }
        body #seccion .musica-nueva .row .musica {
          display: flex;
          justify-content: center;
          align-items: center; }
          body #seccion .musica-nueva .row .musica .logo-musica img {
            width: 150px;
            height: 100px; }
    body #seccion .formulario-contacto {
      padding-top: 100px;
      width: 100%;
      display: flex;
      color: white; }
      body #seccion .formulario-contacto .formulario {
        width: 50%; }
        body #seccion .formulario-contacto .formulario .titulo-form {
          text-align: center;
          font-family: "Typo moiser techno",sans-serif;
          font-size: 1.5em; }
        body #seccion .formulario-contacto .formulario #form1 {
          width: 50%;
          padding: 30px; }
          body #seccion .formulario-contacto .formulario #form1 input, body #seccion .formulario-contacto .formulario #form1 select {
            margin: 10px;
            padding: 2px; }
          body #seccion .formulario-contacto .formulario #form1 label {
            padding: 10px;
            font-family: "Typo moiser techno",sans-serif;
            font-size: 1em; }
          body #seccion .formulario-contacto .formulario #form1 .gustos {
            border: white 2px solid; }
            body #seccion .formulario-contacto .formulario #form1 .gustos .gustos-items {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center; }
              @media only screen and (max-width: 1300px) {
                body #seccion .formulario-contacto .formulario #form1 .gustos .gustos-items {
                  flex-direction: column; } }
              body #seccion .formulario-contacto .formulario #form1 .gustos .gustos-items input, body #seccion .formulario-contacto .formulario #form1 .gustos .gustos-items select {
                margin: 0; }
          body #seccion .formulario-contacto .formulario #form1 #btnenviar {
            width: 100px;
            height: 35px;
            font-size: 1em;
            font-weight: bold; }
  body footer {
    width: 100%;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body footer .copyright {
      width: 100%;
      color: rgba(255, 255, 255, 0.5); }
    body footer .redes-sociales {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 20px; }
      body footer .redes-sociales a {
        display: block;
        padding: 10px;
        font-size: 2em;
        color: white; }

/*# sourceMappingURL=style.css.map */
