@font-face {
  font-family: "Spac3 tech free promo";
  src: url("../fonts/Spac3 tech free promo.ttf");
}
@font-face {
  font-family: "krunch_italic";
  src: url("../fonts/krunch_italic.ttf");
}
@font-face {
  font-family: "Musieer";
  src: url("../fonts/Musieer.ttf");
}
@font-face {
  font-family: "Zilap Monograma DEMO";
  src: url("../fonts/Zilap Monograma DEMO.ttf");
}