
#section-index{
  //width: 100%;
  //Slider de imagenes 6
  .baner-index{
    width: 1349px;
    overflow: hidden;
    //position: absolute;
    //z-index: 1;
    #sliderimgs{
      width: 8094px;
      overflow: hidden;
      animation: slide 20s infinite;
      -moz-animation: slide 20s infinite;
      -webkit-animation: slide 20s infinite;
      -o-animation: slide 20s infinite;
      .imgbanner{

        float: left;
      }
      @keyframes slide {
        0%{margin-left: 0px;}
        13.1%{margin-left: 0px;}
        16.7%{margin-left: -1349px;}
        29.8%{margin-left: -1349px;}
        33.4%{margin-left: -2698px;}
        46.5%{margin-left: -2698px;}
        50.1%{margin-left: -4047px;}
        63.2%{margin-left: -4047px;}
        66.8%{margin-left: -5396px;}
        79.9%{margin-left: -5396px;}
        83.5%{margin-left: -6745px;}
        96.6%{margin-left: -6745px;}
        100%{margin-left: 0px;}
      }
    }
  }
  //texto encima de las imagenes
  #site-text{
    width: 1349px;
    height: 500px;
    position: absolute;
    //z-index: 2;
    top: 82px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      color: white;
      font-family: "krunch_italic",sans-serif;
      font-size: 5em;
      text-shadow: black 0.2em 0.2em 0.2em;
      -webkit-text-stroke: 5px rgba(0,0,0,0.4);
    }
    p{
      color: #fff;
      font-family: "Zilap Monograma DEMO",sans-serif;
      text-align: center;
      font-size: 2em;
      text-shadow: #000 0.2em 0.2em 0.2em;
      //-webkit-text-stroke: 1px rgba(255,255,255,0.4);
    }
  }
}
#section-index2{
  width: 100%;
  margin-top: 60px;
  .articles-index{
    width: 100%;
    .titulo-section{
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        font-family: "krunch_italic",sans-serif;
        font-size: 3em;
        color: white;
      }
    }
    .nuevo-index{
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      .poster{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @for $imgposter from 1 through 3{
          .poster-img-#{$imgposter}{
            background-image: url(unquote("../img/dj"+$imgposter+".jpg"));
            background-position: center;
            background-clip: content-box;
            border-radius: 15px;
            width: 400px;
            height: 300px;
          }
        }
        .poster-titulo{
          padding-top: 15px;
          text-align: center;
          font-size: 1.5em;
          font-family: Musieer ,sans-serif;
        }
        .poster-texto{
          padding: 15px 50px 15px 50px;
          text-align: center;
          font-size: 1em;
          font-family: "Typo moiser techno",sans-serif;
        }
        .boton-video{
          background: black;
          width: 80px;
          height: 30px;
          color: white;
          font-family: "Typo moiser techno",sans-serif;
          font-size: 1em;
          border-radius: 25px;
        }
      }
    }
    .datos-contacto{
      width: 100%;
      display: flex;
      padding-top: 50px;
      .datos{
        width: 80%;
      }
      .soundcloud{
        width: 80%;
      }
      .youtube{
        width: 80%;
      }
    }
  }
}