@font-face {
  font-family: "Spac3 tech free promo","krunch_italic";
  src: url("../fonts/Spac3 tech free promo.ttf");
}
@font-face {
  font-family: "krunch_italic";
  src: url("../fonts/krunch_italic.ttf");
}

*{
  margin: 0;
  padding: 0;
}
body{
  background: black;
  header{
    .header-logo-menu{
      .logo{
        display: flex;
        .img-logo{
          width: 15%;
          height: 10%;
        }
        .index-marca{
          color: white;
          font-family: "krunch_italic",sans-serif;
        }
      }
    }
  }

}
